.pink{
   color:white;
   background:lightblue;
   padding: 5px;
}
.new-roma{
    font-family: 'Times New Roman', Times, serif;
}
#header{
    background: teal;
    color: white;
    height: 100px;
    padding: 50px;
}